/*header start*/
.header_wrap{
	padding:20px;
	height: 29px;
	background: #FFFFFF;
	z-index: 22;
	position: relative;
	right: 0;
	box-shadow: 0 5px 5px #E8E9E9;
}
.header{
	width: 90%;
	margin: 0 auto;
	position: relative;
}
.header h1{
	width:250px;
	float: left;
}
.header h1 a{
	display: block;
}
.header h1 img{
	display: block;
	width: 100%;
}
.header .pc{
	display: none;
}
.header .he-right{
	display: none;
}
.header #ulbtn{
	width: 35px;
	height: 35px;
	float: right;
	cursor: pointer;
}
.header #ulbtn>span{
	width: 35px;
	display: block;
	height: 0px;
	border-bottom: 4px solid #f09319;
	border-radius: 4px;
	position: relative;
}
.header #ulbtn>span:before{
	content: '';
	width: 35px;
	height: 0px;
	border-bottom: 4px solid #f09319;
	border-radius: 4px;
	position: absolute;
	top: 12px;
	left: 0;
}
.header #ulbtn>span:after{
	content: '';
	width: 35px;
	height: 0px;
	border-bottom: 4px solid #f09319;
	border-radius: 4px;
	position: absolute;
	top: 24px;
	left: 0;
}
.header #btnx{
	width: 35px;
	height: 35px;
	float: right;
	cursor: pointer;
}
.header #btnx>span:nth-of-type(1){
	width: 35px;
	display: block;
	height: 0px;
	border-bottom: 4px solid #f09319;
	border-radius: 4px;
	transform-origin: 2px 11px;
	transform: rotate(49deg);
}
.header #btnx>span:nth-of-type(2){
	display: block;
	width: 35px;
	height: 0px;
	border-bottom: 4px solid #f09319;
	border-radius: 4px;
	transform-origin: 29px 7px;
	transform: rotate(-48deg);
}
.header .collapse{
	width: 50%;
	padding: 20px 0;
	height: 100%;
	border-left: 2px solid #ee7700;
	background: #3a3a3a;
	position: fixed;
	top: 0;
	right: -51%;
}
.header .collapse li{
	width: 100%;
	background: #323232;
	text-align: center;
}
/*.header .mc li:nth-of-type(1){
	position:relative;
	right: 0%;
}
.header .mc li:nth-of-type(2){
	position:relative;
	right: 0%;
}
.header .mc li:nth-of-type(3){
	position: relative;
	right: 0%;
}*/
.header .collapse li>a{
	color: #fff;
	font-size: 15px;
	border-bottom: 1px solid #3a3a3a;
	display: block;
	padding: 10px 0;
	position: relative;
	right: 0%;
}
.header .collapse li:hover>a{
	color: #F0951E;
}
.header .collapse li:hover>a:after{
	border-color: #F0951E;
}
.header .collapse li>a:after{
	content: '';
	width: 7px;
	height: 7px;
	margin-left: 10px;
	border-bottom: 1px solid #FFFFFF;
	border-left: 1px solid #FFFFFF;
	transform: rotate(-45deg);
	position: absolute;
	top: 30%;
	left: center;
}
.header .collapse li:nth-of-type(3) a:after{
	content: '';
	width: 0px;
	height: 0px;
	border-bottom: 0px solid #FFFFFF;
	border-left: 0px solid #FFFFFF;
}
.header .collapse li dl{
	width: 100%;
	padding-left: 15%;
	text-align: center;	
	display: none;
}
.header .collapse li dl dd>a{
	display: block;
	border-bottom: 1px solid #3a3a3a;
	font-size: 14px;
	color: #fff;
	padding: 10px 0;
}
.header .collapse li dl dd:hover>a{
	color: #F0951E;
}
/*============================================mainbot start*/
.mainbot_wrap{
	width: 100%;
}
.mainbot_wrap .mainbot{
	width: 100%;
	margin: 0 auto;
}
.mainbot_wrap .mainbot>div{
	width: 50%;
	float: left;
	position: relative;
}
.mainbot_wrap .mainbot>div a i{
	display: block;
	width: 100%;
	overflow: hidden;
}
.mainbot_wrap .mainbot>div a i img{
	display: block;
	width: 100%;
}
.mainbot_wrap .mainbot>div a h3{
	width: 100%;
	text-align: center;
	font-size: 24px;
	color: #ffffff;
	position: absolute;
	top: 21.9%;
	left: 0;
}
.mainbot_wrap .mainbot>div a span{
	width: 20px;
	height: 20px;
	border: 2px solid #FFFFFF;
	border-radius: 50%;
	position: absolute;
	top: 45.37%;
	left:calc(50% - 13px);
}
.mainbot_wrap .mainbot>div a span:after{
	content: '';
	width: 8px;
	height: 8px;
	border-bottom: 2px solid #FFFFFF;
	border-right: 2px solid #FFFFFF;
	display: block;
	transform: rotate(-45deg);
	position: absolute;
	top: calc(50% - 6px);
	left:calc(50% - 8px);
}
/*=====================================================subnav start*/
.subnav_wrap{
	padding: 0 2%;
	background: #f6f6f6;
}
.subnav{
	width: 100%;
	margin: 0 auto;
}
.subnav ul{
	display: none;
}
.subnav div{
	width: 100%;
	padding: 20px 0;
}
.subnav div span{
	display: block;
	float: left;
	font-size: 14px;
	color: #999999;
}
.subnav div dl{
	float: right;
}
.subnav div dd{
	margin-left: 5px;
	float: left;
	cursor: pointer;
}
.subnav div dd:first-of-type{
	display: none;
}
.subnav div .print{
	width:24px;
	height: 24px;
	background: url(../../about/img/sprite_print.jpg) no-repeat center;
}
.subnav div .email{
	width:24px;
	height: 24px;
	background: url(../../about/img/sprite_email.jpg) no-repeat center;
}
.subnav div .weixin{
	width:24px;
	height: 24px;
	background: url(../../about/img/sprite.png) no-repeat center;
	background-position: -6px -174px;
	position: relative;
}
.subnav div .weixin div{
	position: absolute;
	z-index: 9;
	top: 35px;
	left: -84px;
	width: 200px;
	height: 192px;
	color: #666;
	font-size: 12px;
	text-align: center;
	background-color: #fff;
	box-shadow: 0 2px 10px #aaa;
}
.subnav div .weixin div p{
	width: 100%;
	height: 26px;
	line-height: 26px;
	font-size: 12px;
	background: #f3f3f3;
	color: #777;
}
.subnav div .weixin div i{
	width: 105px;
	margin: 10px auto;
	display: block;
}
.subnav div .weixin div i img{
	width: 100%;
	display: block;
}
.subnav div .weixin div span{
	width: 100%;
	display: block;
	color: #666;
	line-height: 16px;
	font-size: 12px;
	text-align: center;
	font-family: "microsoft yahei";
}
.subnav div .weixin div{
	display: none;
}
.subnav div .weixin:hover div{
	display: block;
}
.subnav div .weibo{
	width:24px;
	height: 24px;
	background: url(../../about/img/sprite.png) no-repeat center;
	background-position: -6px -150px;
}
.subnav div .f{
	width:24px;
	height: 24px;
	background: url(../../about/img/sprite.png) no-repeat center;
	background-position:  -6px -54px;
}
.subnav div .fge{
	width:24px;
	height: 24px;
	background: url(../../about/img/sprite.png) no-repeat center;
	background-position: -6px -78px;
}
.subnav div .in{
	width:24px;
	height: 24px;
	background: url(../../about/img/sprite.png) no-repeat center;
	background-position: -6px -102px;
}
.subnav div .g{
	width:24px;
	height: 24px;
	background: url(../../about/img/sprite.png) no-repeat center;
	background-position:-6px -126px;
}
/*===============================================main start*/
.main_wrap{
	padding: 0 2%;
	background: #F5F5F5;
	padding-bottom: 75px;
}
.main_wrap .main{
	background: #FFFFFF;
	margin: 0 auto;
	padding: 50px;
}
.main_wrap .main .main_top div{
	width: 100%;
	border-bottom: 1px dashed #dcdcdc;
	margin-bottom: 38px;
}
.main_wrap .main .main_top div h2{
	width: 100%;
	font-size: 24px;
	color: #333333;
	text-align: center;
	font-weight: 400;
	margin-bottom: 20px;
}
.main_wrap .main .main_top i{
	display: block;
	width: 100%;
	margin-bottom: 10px;
}
.main_wrap .main .main_top i img{
	display: block;
	width: 100%;
}
.main_wrap .main .main_top table{
	font-size: 16px;
	text-align: center;
	color: #333333;
	margin: 0 auto;
}
.main_wrap .main .main_top table th{
	padding: 5px 10px;
	background: rgb(227, 108, 9);
	border: 1px solid #DDD;
	text-align: center;
}
.main_wrap .main .main_top table td{
	padding: 5px 10px;
	text-align: center;
	border: 1px solid #DDD;
}
/*=====================================================footer start*/
.footer{
	width: 100%;
	margin: 0 auto;
}
.footer .footer_top{
	padding:25px 0;
}
.footer .footer_top dl{
	display: none;
}
.footer .footer_top dl:nth-of-type(4){
	margin: 0 auto;
	font-size: 16px;
	color: #2a2a2a;
	display: block;
	text-align: center;
}
.footer .footer_top dl img{
	display: block;
	width: 105px;
	margin: 0 auto;
}
.footer .footer_top dl dt{
	margin-bottom: 25px;
}
.footer .footer_top dl:nth-of-type(4) dd{
	text-align: center;
	font-size: 14px;
	color: #8f8f8f;
}
.footer .footer_top dl:nth-of-type(4) dd:last-of-type{
	margin-top: 10px;
}
.footer_wrap .footer_bot{
	width: 96%;
	padding: 23px 2%;
    background: #f4f4f4;
}
.footer_wrap .footer_bot p{
	width: 474px;
	float: left;
	text-align: left;
	font-size: 14px;
	color: #797979;
	padding: 10px 0px;
}
.footer_wrap .footer_bot p a{
	font-size: 14px;
	color: #797979;
}