html,body{
	font-size: 14px;
	font-family: "微软雅黑";
	color: #000000;
	background: #FFFFFF;
}
html,body,h1,h2,h3,h4,h5,h6,p,ul,li{
	margin: 0;
	padding: 0;
}
body{
	padding-bottom: 30px;
}
li{
	list-style: none;
}
/*-------------------banner 开始--------------*/
#banner{
	position: relative;
	width: 100%;
	overflow: hidden;
}
#banner .mui-slider-item{
	font-size: 14px;
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    vertical-align: top;
    white-space: normal;
}
#banner .mui-slider-item img{
	width: 100%;
	display: block;
}
.mui-slider-indicator{
	position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    background: 0 0;
}
/*---------------------项目展示-----------------*/
.main{
    background: #FFFFFF;
    padding: 0 15px;
}
.main h1{
	margin: 20px 0px;
    height: 54px;
    line-height: 54px;
    position: relative;
    text-align: center;
}
.main h1:before{
	content: '';
    display: block;
    width: 100%;
    border-top: 1px solid #333;
    position: absolute;
    top: 50%;
    z-index: 1;
}
.main h1 span{
	display: block;
    width: 150px;
    margin: 0 auto;
    height: 54px;
    font-size: 30px;
    color: #333;
    z-index: 11;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -75px;
    background: #FFFFFF;
}
#main_banner{
	width: 100%;
	overflow: hidden;
	margin-bottom: 20px;
}
#main_banner .mui-indicator{
	width: 61px;
    height: 33px;
    margin: 0 3px;
    border-radius: 50%;
    box-shadow: 0 0 1px 1px rgba(130,130,130,.7);
    background: #AAAAAA;
    overflow: hidden;
}
#main_banner .mui-indicator img{
	width: 100%;
	display: block;	
}
#main_banner .mui-indicator.mui-active{
	border: 2px solid #007AFF;
}
.main .details{
	width: 100%;
}
.main .details dl{
	margin: 0 0 10px;
	width: 100%;
}
.main .details dl:after{
	content: '';
	height: 0;
	display: block;
	clear: both;
	overflow: hidden;
}
.main .details dl dt{
	display: inline-block;
	float:left;
	font-weight: 700;
}
.main .details dl dd{
	display: inline-block;
	float:left;
	margin: 0;
}
.main .details dl dd span{
	display: inline-block;
	font-size: 30px;
    color: #ffa200;
}
.main h2{
	margin: 10px 0px;
    height: 30px;
    line-height: 30px;
    position: relative;
    text-align: center;
}
.main h2:before{
	content: '';
    display: block;
    width: 100%;
    border-top: 1px solid #e8e8e8;
    position: absolute;
    top: 50%;
    z-index: 1;
}
.main h2 span{
	display: block;
    width: 130px;
    margin: 0 auto;
    height: 34px;
    font-size: 16px;
    color: #333;
    z-index: 11;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -65px;
    background: #FFFFFF;
}
.main .tel{
	font-size: 14px;
    color: #323232;
    margin-bottom: 10px;
    margin-top:0;
    text-align: center;
}
.main .tel img{
	display: inline-block;
    width: 20px;
}
.main .tel a{
	font-size: 20px;
    color: #666;
    display: inline-block;
    margin: 0 8px;
}
.main i{
	width: 100%;
	overflow: hidden;
}
.main i img{
	width: 100%;
	display: block;
}
.main .Buildimg h3{
	height: 50px;
    line-height: 50px;
    font-size: 26px;
    margin: 5px 0;
}
.main .Buildimg video{
	margin: 10px auto;	
}
.main .Buildimg h4{
	height: 50px;
    line-height: 50px;
    font-size: 26px;
    margin:5px 0;
    font-weight: normal;
}
.main .Buildimg ul{
	width: 100%;
}
.main .Buildimg ul li{
	width: 100%;
}
.main .Buildimg ul li h5{
	font-size: 22px;
    height: 40px;
    line-height: 40px;
    margin: 5px 0;
    color: #000000;
}
.main .Buildimg ul li p{
	color: #323232;
	text-indent: 2em;
	margin-bottom: 10px;
}
.main .huXing{
	width: 100%;
}
.main .huXing i{
	width: 100%;
	overflow: hidden;
}
.main .huXing i img{
	width: 90%;
    display: block;
    margin: 0 auto;
    border: 1px solid #666;
    margin-bottom: 5px;
}
.main .huXing dl{
	width: 90%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-content: center;
	margin-bottom:10px;
}
.main .huXing dl dd{
	width: 90px;
	text-align: left;
}
.main .huXing dl .money{
	width: 100px;
    background: #ffa200;
    color: #FFFFFF;
    font-size: 14px;
    padding: 3px 10px;
}
.main .photo li{
	padding: 0 6px;
    margin-top: 15px;
}
.main .photo li img{
	max-height: 145px;
    width: 100%;
    display: inline-block;
    max-width: 100%;
    height: auto;
    padding: 4px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.big{
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0,0,0,.5);
	z-index: 11;
}
.big img{
	width: 80%;
	height: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	border: 5px solid #FFFFFF;
	box-shadow: 2px 2px 5px 5px #BFBFBF;
}

/*---------------------项目展示结束-----------------*/
/*------------------关注我们-----------------*/
.mui-content{
	background: #FFFFFF;
}
.concent{
	padding:15px;
}
.concent>h3{
	height:40px;
	position:relative;
}
.concent>h3:after{
	content:'';
	display:block;
	width:100%;
	height:0;
	border-top:1px solid #CC5522;
	position:relative;
	top:16px;
	left:0;
}
.concent h3 span{
	display:block;
	width:90px;
	height:30px;
	line-height:30px;
	background:#FFFFFF;
	text-align:center;
	font-size:16px;
	position:absolute;
	top:0;
	left:20px;
	z-index:11;
	border:1px solid #CC5522;
	font-family:"microsoft yahei";
	color:#CC5522;
}
.concent .concent_top p{
	font-size:14px;
	color:#333333;
	font-family:"microsoft yahei";
	line-height:30px;
}
.concent .concent_top{
	border-bottom:1px solid #CC5522;
}
.concent .concent_bottom{
	padding-top:20px;
	padding-bottom:30px;
}
.concent .concent_bottom h4{
	font-size:16px;
	font-weight:normal;
	color:#333333;
	text-align:center;
	line-height:30px;
	margin-bottom:20px;
}
.concent .concent_bottom div{
	display: flex;
	justify-content: center;
}
.concent .concent_bottom p{
	width:40%;
	margin:0 5%;
}
.concent .concent_bottom p img{
	width:100%;
}
/*-------------------底部导航开始------------------*/
#header{
	height:50px;
	width: 100%;
	box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 0px 0px inset;
	border-top: 1px solid rgb(82, 73, 69);
	background: -webkit-gradient(linear, 0 0, 0 100%, from(rgb(82, 73, 69)), color-stop(0.6, rgb(82, 73, 69)), to(rgb(72, 64, 60)));
	z-index: 111 !important;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#header a{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center ;
	align-items: center;
	color: #FFFFFF;
	padding:5px 0 0 0;
	background: transparent;
	border: 0;
	top: 0;
}
#header a span{
	padding: 0;
}
#header a.mui-active{
	color: #007aff;
}
#header .nav-home{
	width: 70px;
	height: 70px;
	background: url(../../img/index/home.png) no-repeat center;
	background-size: cover;
	position: absolute;
	top: -20px;
	left: 50%;
	transform: translateX(-50%);
}
#header ul{
	width: 100%;
	background: #FFFFFF;
	padding: 0 10px;
}
.navlist{
	width: 110px;
	height: 180px;
	text-align: center;
}
/*-------------------底部导航结束------------------*/