/* 教学团队内容 */
.jxtd-cons{
  margin: 10px auto 50px;
}
.jxtd-cons .title-com2{
  margin-bottom: 20px;
}
.jxtd-cons .aside{
  width: 180px;
}
.jxtd-cons .aside h3{
  height: 40px;
  line-height: 40px;
  color: #fff;
  font-size: 16px;
  background: #4267c1;
  text-align: center;
  margin-bottom: 10px;
}

.jxtd-cons .contentLi{
  width: 900px;
}
.jxtd-cons .contentLi ul li{
  width: 100%;
  height: 50px;
  line-height: 50px;
  border-bottom: 1px dashed #bfbfbf;
  padding-left: 6px;
  box-sizing: border-box;
}
.jxtd-cons .contentLi ul li a{
  display: block;
}
.jxtd-cons .contentLi ul li h4{
  position: relative;
  padding-left: 16px;
  font-size: 14px;
  color: #666;
}
.jxtd-cons .contentLi ul li h4:before{
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  content: '';
  width: 5px;
  height: 5px;
  background: #666;
}
.jxtd-cons .contentLi ul li span{
  font-size: 14px;
  color: #666;
}
.jxtd-cons .contentLi ul li:hover{
  background: #fafafa;
}
.jxtd-cons .contentLi ul li:hover h4,
.jxtd-cons .contentLi ul li:hover span{
  color: #4267c1;
}
.jxtd-cons .contentLi ul li:hover h4:before{
  background: #4267c1;
}



/* 老师简介 */
.tea-info{
  margin: 10px auto 50px;
}
.tea-info .pic{
  width: 120px;
  margin: 0 auto 20px;
  border-radius: 50%;
  background: #8b919d;
}
.tea-info .pic img{
  width: 100%;
  height: 100%;
}
.tea-info .small-tit{
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-bottom: 16px;
}
.tea-info .small-tit h3{
  display: flex;
  align-items: center;
  font-size: 28px;
  color: #333;
  font-weight: bold;
}
.tea-info .small-tit span{
  margin-left: 15px;
  color: #666;
  font-size: 24px;
}
.tea-info .detail{
  text-align: center;
}
.tea-info .detail b{
  line-height: 32px;
  font-size: 18px;
  color: #333;
}
.tea-info .detail p{
  line-height: 26px;
  font-size: 14px;
  color: #666;
}
.tea-info .detail2{
  margin-top: 10px;
}