/* 实验教学内容 */
.syjx-cons{
  display: flex;
  justify-content: space-between;
  margin: 10px auto 50px;
}
.syjx-cons .left{
  width: 250px;
}
.syjx-cons .left ul{
  margin: 10px 0 0 20px;
}
.syjx-cons .left ul li{
  position: relative;
  line-height: 30px;
  padding-left: 14px;
  font-size: 14px;
  color: #666;
  cursor: pointer;
}
.syjx-cons .left ul li:before{
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  content: '';
  width: 5px;
  height: 5px;
  background: #666;
  border-radius: 50%;
}
.syjx-cons .left ul li:hover,
.syjx-cons .left ul li.on{
  text-decoration: underline;
  color: #4267c1;
}


.syjx-cons .right{
  width: 920px;
  padding: 20px 0;
  box-shadow: 0px 0px 15px 0px rgba(3, 0, 0, 0.1);
}
.syjx-cons .right h3{
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  color: #333;
}
.syjx-cons .right .panel-body{
  width: 800px;
  margin: 30px auto 0;
}